<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../public/css/styles.css" type="text/css" media="screen" />
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% include("component/nav.html.twig") %}
        {% block body %}{% endblock %}
        <script src="../public/js/scripts.js"></script>
    </body>
</html>
