{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    
    <section class="container-fluid" id="sectionPicture">
        <div class="row">
                <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(137).webp" class="img-fluid" alt="Me">   
        </div>
    </section>

    <section class="container" id="sectionDescription">
        <div class="row">
            <h1>Nassim Taoussi</h1>
            <h3>Developpeur PHP</h3>
            <h6></h6>
        </div>
    </section>

    {% include "_home_form.html.twig" %}
    
{% endblock %}