{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center">Inscription</h1>
        </div>
    </div>

    <section class="container" id="signInForm">
        <div class="row">
            <div class="col-6 justify-content-center">
                <form method="POST" action="">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">Prénom</label>
                        <input type="text" class="form-control" name="firstName" id="firstName">
                    </div>
                    {% if errors.firstName is defined %}
                        <p> le prénom doit être renseigner</p>
                    {% endif %}

                    <div class="mb-3">
                        <label for="lastName" class="form-label">Nom</label>
                        <input type="text" class="form-control" name="lastName" id="lastName">
                    </div>
                    {% if errors.lastName is defined %}
                        <p> le nom doit être renseigner</p>
                    {% endif %}

                    <div class="mb-3">
                        <label for="username" class="form-label">Pseudo</label>
                        <input type="text" class="form-control" name="username" id="username">
                    </div>
                    {% if errors.username is defined %}
                        <p> le pseudo doit être renseigner</p>
                    {% endif %}

                    <div class="mb-3">
                        <label for="bornDate" class="form-label">Âge</label>
                        <input type="date" class="form-control" name="bornDate" id="bornDate">
                    </div>
                    {% if errors.age is defined %}
                        <p> la date de naissance doit être renseigner</p>
                    {% endif %}

                    <div class="mb-3">
                        <label for="email" class="form-label">Adresse e-mail</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    {% if errors.email is defined %}
                        <p> l'adresse email doit être renseigner</p>
                    {% endif %}

                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    {% if errors.password is defined %}
                        <p> le mot de passe doit être renseigner</p>
                    {% endif %}

                    <div class="text-center">
                        <button type="submit" class="col-12 btn btn-primary">Envoyer</button>
                    <div>
                </form>
            </div>
        </div>
    </section>
    
        
        
    
{% endblock %}