<nav class="navbar navbar-dark bg-dark navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Articles</a>
                </li>
            </ul>

            {% if session.user.admin == 1 %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Administration
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/postsList">Liste des articles</a>
                        <a class="dropdown-item" href="/commentsList">Liste des commentaires</a>
                        <a class="dropdown-item" href="/addPost">Ajouter un article</a>
                    </div>  
                </div>
            {% endif %}

            <div class="d-flex justify-content-end">
                <a href="/signin"><img src="/img/icones/login.svg" alt="" style="width: 40px; height: 40px"></a>
            </div>
            
        </div>
    </div>
</nav>