{% extends 'base.html.twig' %}

{% block title %}ERREUR{% endblock %}

{% block body %}

    <h6 class="mt-5 font-weight-bold text-uppercase fs-1">OOOPS</h6>

    <p>{{ error.message }}</p>

    <button type="submit" class="btn btn-primary" value="home"><a href="/" class="text-decoration-none text-light">Retour a la page d'accueil</a></button>

{% endblock %}